.body {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body #main-time,
#timer {
  color: white;
  font-size: 96px;
  font-weight: 900;
  text-shadow: 0 1px 3px #00000027;
}
.body #word {
  margin-top: 0.5rem;
  color: white;
  font-size: 24px;
  font-weight: 100;
}
