#root {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#root > .navigation {
  height: 60px;
}

#root > .body {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#root > .footer {
  height: 60px;
}
