.modal-wrapper {
  position: absolute;
  &.left {
    left: 16px;
  }
  &.top {
    top: 48px;
  }
  &.right {
    right: 16px;
  }
  &.bottom {
    bottom: 48px;
  }

  .modal {
    display: none;
    margin-bottom: 16px;
  }
  .open-check:checked + .modal {
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: white;
    width: 300px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);

    .title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .sub-title {
      font-size: 14px;
      margin: 12px 0 8px;
    }
    .info {
      margin-top: 2px;
      color: #888;
    }
    .button {
      background-color: #e6e6e6;
      width: 120px;
      color: #292931;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &:hover {
        background-color: #bbb;
      }
    }
  }
}
.tab-container {
  .open-label {
    display: block;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  // .modal {
  //   display: none;
  // }

  // .open-check:checked + .modal {
  //   display: flex;
  //   flex-direction: column;
  //   padding: 24px;
  //   position: absolute;
  //   color: white;
  //   bottom: 48px;
  //   width: 300px;
  //   z-index: 1;
  //   background-color: rgba(0, 0, 0, 0.6);

  //   .title {
  //     font-size: 16px;
  //     font-weight: 700;
  //     margin-bottom: 10px;
  //   }
  //   .sub-title {
  //     font-size: 14px;
  //     margin: 12px 0 8px;
  //   }
  //   .info {
  //     margin-top: 2px;
  //     color: #888;
  //   }
  //   .button {
  //     background-color: #e6e6e6;
  //     width: 120px;
  //     color: #292931;
  //     height: 24px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     cursor: pointer;
  //     &:hover {
  //       background-color: #bbb;
  //     }
  //   }
  // }
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  .left-side {
  }
  .rigth-side {
    .open-check:checked + .developer-modal {
      right: 0;
      .developer-info-wrapper {
        .links {
          margin-top: 20px;
          display: flex;
          a {
            display: block;
            width: 32px;
            height: 32px;
            margin-right: 8px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 100%;
              background-color: white;
            }
          }
        }
        .names a {
          font-weight: 700;
          font-size: 20px;
          color: white;
          &:hover {
            color: skyblue;
          }
        }
      }
    }
  }
}
